// Navbar.scss
.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between;
  margin-bottom: 25px;
}

.logo-container {
  display: flex; /* Use flex to align logo and text */
  align-items: center; /* Align items vertically */
  margin-right: 20px; /* Adjust the margin as needed */
}

.logo {
  width: 50px; /* Adjust the width as needed */
  height: auto;
}

.nav-link {
  text-decoration: none;
  color: black; /* Adjust the color as needed */
  font-weight: bold;
  font-size: 16px;
}
